body{
    background-image: url("images/b1.jpeg");
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    overflow: hidden;
    margin-top: 0;
    margin: 0;
    margin-left: 0%;
    margin-right: 0%;
}
a{
    color: white;
    margin-top: 5%;
    margin-left: 90%;
    margin-right: 0%;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
a:link {
    color: white;
    width: 100px;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 118, 206);
  }
  
  /* selected link */
  a:active {
    color:rgb(0, 118, 206);
  }

.block1{
    text-align: center;
}
.header{
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    width: 1250px;
    height: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
    margin: 0;
    padding: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font: 300;
    
    margin-left :6%;
    margin-right: 0;

}
.label1{
    
    border-radius: 4px;
    font-size: 0.65cm;
    font-weight: bolder;
    width: 200px;
    height: 28px;
    display: inline-flex;  
    color: white;   
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font: 300;  
    margin-left: 1%;  
    margin-right: 0%;

}
.label2{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
    display: inline-flex;
    
    vertical-align: baseline;
   
}
.label3{
    width: 84px;
     font-family: 'Roboto', sans-serif;
     display: inline-flex;
    font-weight: lighter;
    color: white;
   
    vertical-align: baseline;
}
.rbutton1{
    width:40px;
    height:15px;
    
    display: table-cell;
   
}
.rbutton2{
    width:40px;
    height:15px;
    
    display: table-cell;
}

.rinput{
    border-radius: 4px;
    width: 200px;
    border-color: white;
    display: inline-block;
    height: 26px;
    overflow-y :auto; 
    overflow-x:hidden; 
    margin-bottom: 0%;
    margin-right: 0%;   
    margin-left: -5%;  
}
.button1{
    background-color: rgb(0, 118, 206);
    border-radius: 20px;
    border-color: white;
    font-size: medium;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font: 300;
                                 
}
.logo{
    display: inline;
    height : 9%;
    width : 17%;
    margin-left: 5%;
    margin-right: 0%;
}
header{
    background-color: rgb(0, 118, 206);
    margin: 0;
    margin-top: 0;
    
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    body {
     overflow-x: scroll;
      width: 100%;
    }
  }
