body{
    background-image: url("images/b1.jpeg");
    background-blend-mode: soft-light;
    margin-top: 0;
    margin: 0;
    margin-left: 0%;
    margin-right: 0%;
}
.block1{
    text-align: center;
}
.header{
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    width: 1250px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0;
    padding: 0px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font: 300;
    
    margin-left :6%;
    margin-right: 0;

}
.label1{
    
    border-radius: 4px;
    font-size: 0.65cm;
    font-weight: bolder;
    width: 200px;
    height: 28px;
    display: inline-block;  
    color: white;   
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font: 300;                      

}
.label2{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
   
}
.label3{
     width: 82.7px;
     font-family: 'Roboto', sans-serif;
     display: inline-block;
    font-weight: lighter;
    color: white;
   
}
.button1{
    background-color: rgb(0, 118, 206);
    border-radius: 20px;
    border-color: white;
    font-size: medium;
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font: 300;
                                 
}
.rbutton{
   width:40px;
   height:15px;
}
.rinput{
    border-radius: 4px;
    width: 200px;
    border-color: white;
    display: inline-block;
    height: 26px;
    overflow-y :auto; 
    overflow-x:hidden; 
}
.logo{
    display: inline;
    height : 9%;
    width : 17%;
    margin-left: 5%;
    margin-right: 0%;
}
header{
    background-color: rgb(0, 118, 206);
    margin: 0;
    margin-top: 0;
    
}
