.alert_button{
    background-color: rgb(0, 102, 204);
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    width: 200px;
    height:30px
}
table{
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
caption{
    font-size: large;
    font-weight: bold;
}
th{
    background-color:rgb(149, 197, 245);
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
    padding:5px;
}
tr:nth-child(even) {
    background-color: rgb(220, 230, 241);
  }
.back_button{
    background: none;
    border: none;
	color: rgb(0, 102, 204);
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: xx-large;
}