<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'initial/styles.css' %}" />
        <title>Release Management Dashboard</title>
    </head>
<body>
<form action = "/submit" method = "POST">
    {% csrf_token %}
    <h1 class = "header">
                Release Management Dashboard</h1> <br><br><br><br>
    <div class="block1">
    <label for="Release" class="label1">
                                 Release &nbsp;&nbsp;</label> &nbsp;&emsp;&emsp;
    <input id="Release" type="text" name="Release" class="rinput"><br><br>
    <input type="radio" id="scopelock" name="radiobutton" value="scopelock" class="rbutton">
    <label for="scopelock" class="label2">Scope Lock</label><br>
    <input type="radio" id="codelock" name="radiobutton" value="codelock" class="rbutton">
    <label for="codelock" class="label3">Code Lock</label><br><br>
    <button type="submit" class="button1" >Submit</button>
    </div>
</form>
</body>
</html>