<!DOCTYPE html>
<html>
<head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'initial/styles1.css' %}" />

        <title>Release Management Dashboard</title>
        <link rel="icon" href="{% static 'initial/images/dell_logo.png' %}" type="image/icon type">
</head>
<body>
   
    <!--<input  id = "back_button" type="button" value=" &#8592 " class="back_button" >-->
    <form action = "/download" method="POST">
        {% csrf_token %}
    <header>
        <br>
         <img class="logo" src = "{% static 'initial/images/logo.png' %}" alt="logo"/>  
         <h1 class = "header" >
            ScopeLock Summary</h1> 
         <div class="navbar">
            <img src="{% static 'initial/images/Home.png' %}" alt="Home" class="icon" onclick="return_page() "/>  
            <input type="image"src="{% static 'initial/images/download.png' %}" alt="download" class="icon">
          </div>
       
     </header>
    </form>
    <form action = "/scope_alert" method = "POST">
        {% csrf_token %}
        <button type="submit" class="alert_button" onclick="show_alert() ">Alert Scopelock Defaulters</button>
        <table  id="t02">
            <thead>
                <tr>
                    <th> </th>
                    <th>SAP</th>
                    <th>Myquotes</th>
                </tr>
            </thead>
            <tbody>
                 <tr>
                     <th>RWI</th>
                     <td>{{sap_rwi}}</td>
                     <td>{{myq_rwi}}</td>
                 </tr>
                 <tr>
                    <th>CRQ</th>
                    <td>{{sap_crq}}</td>
                    <td>{{myq_crq}}</td>
                </tr>
            </tbody>
         </table> 
    </form><br>
    <table id="t01">
        <caption>Stories Tagged for {{release}} release {{lock}}</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Assigned To</th>
                <th>Work ItemType</th>
                <th>State</th>
                <th>CRQ</th>
                <th>RWI</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123456</td>
                <td>Himapriya Tammineedi</td>
                <td>Story</td>
                <td>In development</td>
                <td>CH0152349</td>
                <td>1024567</td>
             </tr>
             <tr>
                <td>123456</td>
                <td>Himapriya Tammineedi</td>
                <td>Story</td>
                <td>In development</td>
                <td>CH0152349</td>
                <td>1024567</td>
            </tr>
            
            <!--  dynamically getting values from Views -->
            {% if t %}  
            {% for i in t %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.assignee}}</td>
                <td>{{i.workitem}}</td>
                <td>{{i.state}}</td>
                <td>{{i.crq}}</td>
                <td>{{i.rwi}}</td>
              </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

    {% block popup %}
    {% endblock %}
</body>

<script type="text/javascript">
    function show_alert() {
            confirm('Alert users of scope lock');
           // alert("Email Alert has been sent to the users");
        }
    function return_page() {
               location.href = '/';
        }
</script>
</html>